body {
    font-family: $font-family-sans-serif;
    background-color: $bg-base;
    background-image: url('../images/bg_2.png'), -webkit-linear-gradient(bottom, rgba(72, 72, 72, 0.25), rgba(215, 215, 215, 0.25)), url('../images/bg-main.jpg');
    background-image: url('../images/bg_2.png'), -o-linear-gradient(bottom, rgba(72, 72, 72, 0.25), rgba(215, 215, 215, 0.25)), url('../images/bg-main.jpg');
    background-image: url('../images/bg_2.png'), linear-gradient(to top, rgba(72, 72, 72, 0.25), rgba(215, 215, 215, 0.25)), url('../images/bg-main.jpg');
    background-size: 1257px 525px, 100% 594px, 1366px 594px;
    background-position: center 553px, 0 0, center top;
    background-repeat: no-repeat, repeat-x, no-repeat;
    color: $text-color;
    min-width: 320px;
    @include respond-to(medium-low) {
        background: #2b5161;
    }
}

a {
    text-decoration: none;
    color: $text-color;
}

.wrapper {
    overflow: hidden;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 1%;
    @include respond-to(medium-low) {
        padding: 0 2%;
    }
}

main {
    @include clearfix();
}

.sidebar {
    float: left;
    width: 23%;
    margin-bottom: 35px;
    @include respond-to(medium-low) {
        width: 100%;
        padding: 0;
        float: none;
    }
}

.content {
    float: right;
    width: 74.3%;
    background: $bg-light;
    text-align: center;
    margin-bottom: 35px;
    @include respond-to(medium-low) {
        width: 98%;
        padding: 0;
        margin: 0 auto 20px;
        float: none;
    }
}

.underline {
    text-decoration: underline;
}
.main__information{
    display: none; 
    margin-bottom: 15px !important;
    width: 100%; 
    text-align: justify; 
}
@include respond-to(medium-low) {
    .sidebar__information{
        display: none;

    }
    .main__information{
        display: block;

    }
}
