.profil-modifier {
    padding: 25px 40px;
    background: $bg-light;
    margin-bottom: 40px;
    h3,
    .h3 {
        color: $inverse-text-color;
        font-family: $font-family-lato-regular;
        margin-bottom: 18px;
        text-align: center;
        @include respond-to(medium-low) {
            font-size: $font-size-medium;
        }
    }
    .reg-form__col {
        margin-bottom: 24px;
    }
    .button {
        @include respond-to(large) {
            margin: 0 auto;
        }
        @include respond-to(medium-low) {
            width: 100%;
        }
    }
    @extend .registration;
    .form-bottom {
        @include respond-to(large) {
            width: 403px;
            margin: 0 auto 10px;
            float: none;
        }
        @include respond-to(medium-low) {
            width: 187px;
        }
        @include clearfix();
        width: 100%;
        float: left;
        .left-bott {
            width: 250px;
            @include clearfix();
            float: left;
            &__label {
                display: inline-block;
            }
            &__row {
                margin-bottom: 24px;
            }
        }
        span {
            float: left;
            width: 100%;
        }
        h6,
        .h6 {
            color: $text-color;
            font-family: $font-family-lato-regular;
            font-size: $font-size-default;
            margin-bottom: 8px;
        }
        .form-bottom__avatar {
            float: left;
            margin-bottom: 10px;
        }
    }
    .upload {
        float: left;
    }
}
